.error-color {
  color: $colors-error;
}
.dark-grey-color {
  color: $colors-dark-grey;
}
.lighter-grey-color {
  color: $colors-lighter-grey;
}
.light-grey-color {
  color: $colors-light-grey;
}
.highlight-color {
  color: $colors-highlight;
}
